.button {
  width: 153px;
  height: 32px;
  background: $main_color;
  border-radius: 5px;
  border: none;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 15px;

  &:hover {
    box-shadow: 3px 3px 20px $main_color;
    border: none;
    transition: 0.5s all;
  }

  &_main {
    width: 303px;
    height: 54px;

    @media (max-width: $xs) {
      width: 80vw;
      max-width: 303px;
      height: 44px;
    }
  }

  &_submit {
    width: 100%;
    height: 55px;
    font-size: 16px;
  }

  &_mini {
    width: 135px;
    height: 44px;
    font-size: 14px;
  }
}