.catalog {
  padding-bottom: 100px;

  @media (max-width: $md) {
    padding-bottom: 70px;
  }

  &__tabs {
    margin-top: 70px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
    padding-left: 0px;

    @media (max-width: $md) {
      margin-top: 40px;
    }
  }

  &__tab {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;
    color: #6B6B6B;
    text-align: center;
    transform: skew(-25deg);
    cursor: pointer;
    transition: 0.4s all;

    @media (max-width: $md) {
      width: 160px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }

    &:hover {
      box-shadow: 3px 3px 20px $main_color;
      border: none
    }

    & div {
      display: block;
      padding-inline: 15px;

      & span {
        display: inline-block;
        transform: skew(25deg);
      }
    }

    & .active {
      border: none;
      background-color: $main_color;
      color: white;
    }
  }

  &__content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 19px;
    justify-items: center;


    @media (max-width: $lg) {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
    }

    @media (max-width: $md) {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
    }
  }


}