.feed {
  min-height: 920px + 48px;

  &__card {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    @media (max-width: $xs) {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
  }

  &__text {
    max-width: 650px;
  }

  &__img {
    width: 169px;
    height: 169px;
    margin-right: 61px;

    @media (max-width: $lg) {
      width: 110px;
      height: 110px;
      margin-right: 30px;
    }

    @media (max-width: $xs) {
      margin-right: 0px;
    }
  }

  &__name {
    font-size: 18px;
    line-height: 18px;
    color: #0D0D0D;
    font-weight: 700;

    @media (max-width: $xs) {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      margin-top: 16px;
    }
  }

  &__count {
    color: #646464;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    @media (max-width: $xs) {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__descr {
    color: #0D0D0D;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $md) {
      font-size: 14px;
      line-height: 16px;
      max-width: 400px;
    }

    @media (max-width: $xs) {
      text-align: center;
    }

    & span {
      font-family: "MuseoModerno";
    }
  }
}