.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 250px;

    img {
      width: 100%;
    }
  }

  &__official {
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: block;
    text-align: center;

    span {
      font-family: 'MuseoModerno';
      font-size: 18px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__phone {
    display: block;
    font-family: 'MuseoModerno';
    font-weight: 700;
    font-size: 18px;
    color: white;
  }
}