.mainTitle {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;

  &_left {
    color: #FFFFFF;
    text-align: left;
    line-height: 42px;

    @media (max-width: $xs) {
      text-align: center;
    }
  }

  @media (max-width: $xs) {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
}