.open-popup {
  display: inline-block;
}

.popup {
  padding-block: 35px 40px;
  width: 400px;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s all;

  @media (max-width: $xs) {
    max-width: 400px;
    width: 90vw;
    text-align: center;
    padding-inline: 10px;
  }

  &__header {
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
  }

  &__subheader {
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
  }
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}