.promo {
   min-height: 650px;
   padding: 21px 0 93px 0;
   background: url(../img/bg/bg.png) center (center/cover) no-repeat;

   &__offitial {
      display: block;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 90px;

      @media (max-width: $xs) {
         align-items: center;
         margin-top: 50px;
      }
   }

   &__header {
      font-weight: 700;
      font-size: 42px;
      text-transform: uppercase;
      color: #FFFFFF;
      line-height: 42px;
      margin-bottom: 0px;

      @media (max-width: $xs) {
         font-size: 22px;
      }
   }

   &__subheader {
      line-height: 24px;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 24px;
      margin-top: 17px;
      margin-bottom: 60px;

      @media (max-width: $xs) {
         margin-top: 10px;
         font-size: 18px;
         margin-bottom: 30px;
      }
   }

   &__icons {
      display: flex;
      width: 425px;
      justify-content: space-between;
      margin-bottom: 65px;

      @media (max-width: $xs) {
         flex-direction: column;
         align-items: center;
         gap: 25px;
         width: 100%;
         margin-bottom: 40px;
      }
   }

   &__icon {
      width: 135px;
      padding: 0 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #FFFFFF;

      @media (max-width: $xs) {
         font-size: 18px;
         line-height: 20px;
         width: 160px;
      }

      & img {
         margin-bottom: 20px;

         @media (max-width: $xs) {
            width: 40px;
         }
      }
   }

   &__link {
      margin-top: 8px;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;

      @media (max-width: $xs) {
         font-size: 14px;
      }

      & a {
         color: #FFFFFF;
         text-decoration-line: underline;
      }
   }
}