.title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #0D0D0D;
  text-align: center;

  @media (max-width: $md) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (max-width: $md) {
    font-size: 20px;
    line-height: 20px;
  }
}