@import 'vars';
@import 'animations';

* {
  font-family: Museo Sans Cyrl;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

@import 'header';
@import 'promo';
@import 'button';
@import 'odds';
@import 'title';
@import 'consultation';
@import 'mainTitle';
@import 'forms';
@import 'carousel';
@import 'catalog';
@import 'catalogItem';
@import 'feed';
@import 'footer';
@import 'popup';
@import 'pageup';