@import '_vars';
@import '_header';
@import '_promo';
@import '_button';
@import '_odds';
@import '_title';
@import 'consultation';
@import 'mainTitle';
@import 'forms';
@import 'carousel';
@import 'catalog';
@import 'catalogItem';
@import 'feed';
@import 'footer';
@import 'modal-form';




* {
  font-family: Museo Sans Cyrl;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}