@import '_vars';
@import '_header';
@import '_promo';
@import '_button';
@import '_odds';
@import '_tittle';



* {
  font-family: Museo Sans Cyrl;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}